@model CrudOperation.Models.CategoryDto
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div class="form-group">
        @Html.LabelFor(x => x.name, "category")
        @Html.TextBoxFor(x => x.name)
    </div>
    <div class="form-group">

        @Html.LabelFor(x => x.description, "descriptio")
        @Html.TextAreaFor(x => x.description)
    </div>

    <div class="form-group">

        @Html.LabelFor(x => x.myitem, "item")
        @Html.TextBoxFor(q => Model.myitem)
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

}

