@model CategoryCrudMVC.Models.FieldClass
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>



@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(q => q.categoryId)
    <table height="180px" width="100px">
        <tr>
            <td>
                @Html.LabelFor(x => x.categoryName, "CATEGORY")
            </td>

            <td>
                @Html.EditorFor(x => x.categoryName)


            </td>
        </tr>
        <br />
        <td>
            @Html.LabelFor(x => x.itemName, "ITEM")
        </td>
        <td>
            @Html.EditorFor(x => x.itemName)
        </td>
        <br />
        <tr>
            <td>


                @Html.LabelFor(x => x.itemDescription, "DESCRIPTION")
            </td>
            <td>
                @Html.EditorFor(x => x.itemDescription)
            </td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary" onclick="window.location= '@Url.Action( "Edit", "Home")'">Submit</button>


}
